body{
    background-color: rgb(12, 12, 12);
    margin: 0;
}

img{
    width: 80px;
}

.containermaioral{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 8px 30px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(243, 193, 210);
}

.containerbody{
    display: flex;
    align-items: flex-end;
    gap: 30px;
    padding-left: 50px;
    padding-top: 30px;
}

.containerbody > img{
    width: 330px;
    border-radius: 50px;
}

.lado{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.lado img{
    width: 250px;
    height: 250px;
object-fit: cover;
 border-top-left-radius: none;
  border-top-right-radius: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}


