body{
    background-color: rgb(26, 26, 26);
}
img{
width:150px;
}
.containermaioral{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 8px 30px;
}
nav{
    display: flex;
    justify-content: flex-end;
    
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(243, 193, 210);
}

img-gp{
width: 1000px;
flex-wrap: nowrap;
}