img{
width:200px;
}

.containermaioral{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex: end;
    flex-direction: ;  

}
a{
    text-decoration: none;
    color: white;
}
